<body class="style_soft t_male">
  <!-- top_wrapper -->
  <div id="top_wrapper" class="clearfix" data-section_name="top_wrapper">
    <ul class="topicpath" itemscope="" itemtype="https://schema.org/BreadcrumbList">
      <li class="topicpath_item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <a itemtype="https://schema.org/Thing" itemprop="item" href="https://www.dlsite.com/soft/">
          <span itemprop="name">
            PC Games
          </span>
        </a>
        <meta itemprop="position" content="1">
      </li>
      <li class="topicpath_item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a itemtype="http://schema.org/Thing" itemprop="item" href="https://www.dlsite.com/soft/circle/list">
          <span itemprop="name">
            List Brand </span>
        </a>
        <meta itemprop="position" content="2">
      </li>
      <li class="topicpath_item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <a itemtype="https://schema.org/Thing" itemprop="item"
          href="https://www.dlsite.com/soft/circle/profile/=/maker_id/VG01562.html">
          <span itemprop="name">Falcom</span>
        </a>
        <meta itemprop="position" content="3">
      </li>
      <li class="topicpath_item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <a itemtype="https://schema.org/Thing" itemprop="item"
          href="https://www.dlsite.com/soft/work/=/product_id/VJ009178.html">
          <span itemprop="name">The Legend of Heroes: Zero no Kiseki</span>
        </a>
        <meta itemprop="position" content="4">
      </li>

    </ul>
    <div class="base_title_br clearfix">

      <h1 itemprop="name" id="work_name">The Legend of Heroes: Zero no Kiseki</h1>

      <template data-vue-component="dlchannel-topic" data-product-id="VJ009178"
        data-product-name="The Legend of Heroes: Zero no Kiseki" data-maker-name="Falcom"></template>

      <template data-vue-component="share-button" data-twitter-share-url="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdlsite.jp%2Fsowot%2FVJ009178%2F%3Futm_content%3DVJ009178%26locale%3Den_US%0A&text=The%20Legend%20of%20Heroes%3A%20Zero%20no%20Kiseki%2FFalcom&hashtags=DLsite&lang=en
" data-award-share-url="https://twitter.com/intent/tweet?text=DLsite%E3%82%A2%E3%83%AF%E3%83%BC%E3%83%892022%0A%E3%81%93%E3%81%AE%E4%BD%9C%E5%93%81%E3%81%AB%E6%8A%95%E7%A5%A8%E3%81%97%E3%81%BE%E3%81%97%E3%81%9F%EF%BC%81%F0%9F%92%8C%0A%0A%E3%80%90%E4%BD%9C%E5%93%81%E5%90%8D%E3%80%91%0AThe%20Legend%20of%20Heroes%3A%20Zero%20no%20Kiseki%0A%0Ahttps%3A%2F%2Fwww.dlsite.com%2Fmodpub%2Flp%2Fhome%2Fdlsiteawards2022%2Fvote%2F%0A%0A%23DLsite%E3%82%A2%E3%83%AF%E3%83%BC%E3%83%89&lang=en
" data-share-url="https://www.dlsite.com/soft/work/=/product_id/VJ009178.html"
        data-share-title="The Legend of Heroes: Zero no Kiseki" data-share-maker-name="Falcom"></template>
    </div>
  </div>
  <!-- /top_wrapper -->

  <!-- wrapper -->
  <div id="wrapper">

    <template data-vue-component="share-group"></template>


    <!-- main -->
    <div id="main" data-section_name="main">
      <!-- main_inner -->
      <div id="main_inner">
        <!-- work_header -->
        <div id="work_header">
          <!-- work_right -->
          <div id="work_right">
            <div id="work_right_inner">
              <!-- 作品名、サークル/ブランド/出版社/レーベル/著者名 ここから -->
              <div id="work_right_name">
                <table id="work_maker">
                  <tr>
                    <th>Brand</th>
                    <td>
                      <span itemprop="brand" class="maker_name">
                        <a href="https://www.dlsite.com/soft/circle/profile/=/maker_id/VG01562.html">Falcom</a>
                      </span>
                    </td>
                  </tr>
                </table>
                <span data-vue-component="cien-creator-link" data-vue-async="true" data-maker-id="VG01562"></span>
              </div>
              <!-- 作品名、サークル/ブランド/出版社/レーベル/著者名 ここまで -->
              <table cellspacing="0" id="work_outline">
                <tr>
                  <th>Release date</th>
                  <td><a
                      href="https://www.dlsite.com/soft/new/=/year/2015/mon/04/day/17/cyear/2015/cmon/04">Apr/17/2015</a>
                  </td>
                </tr>
                <tr>
                  <th>Age</th>
                  <td>
                    <div class="work_genre">
                      <span class="icon_GEN">All ages</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Product format</th>
                  <td>
                    <div class="work_genre" id="category_type">
                      <a href="https://www.dlsite.com/soft/works/type/=/work_type/RPG/from/icon.work"><span
                          class="icon_RPG" title="Role-playing">Role-playing</span></a><a
                        href="https://www.dlsite.com/soft/fsr/=/work_category%5B0%5D/pc/options/MS2/from/icon.work"><span
                          class="icon_MS2" title="Music">Music</span></a>&nbsp;/&nbsp;ストーリーRPG
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Supported languages</th>
                  <td>
                    <div class="work_genre">
                      <a href="https://www.dlsite.com/soft/fsr/=/work_category%5B0%5D/pc/options/JPN/from/icon.work"><span
                          class="icon_JPN" title="Japanese">Japanese</span></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Genre</th>
                  <td>
                    <div class="main_genre">
                      <a href="https://www.dlsite.com/soft/fsr/=/genre/284/from/work.genre">Police / Detective</a>
                      <a href="https://www.dlsite.com/soft/fsr/=/genre/272/from/work.genre">Crime / Gangster</a>
                      <a href="https://www.dlsite.com/soft/fsr/=/genre/016/from/work.genre">Fantasy</a>
                    </div>
                  </td>
                </tr>
              </table>
              <ul class="work_feature">
              </ul>
              <div data-vue-component="product-sales-end" data-product-id="VJ009178" data-is-sp-site="" v-cloak></div>
            </div>
            <div id="work_win_only" class="mt10">
              <strong>Necessary Settings</strong>
              <span>Commercial Japanese software may not function unless your PC's <span style="color:#f00">System
                  Locale, Region, Format, Time Zone,</span> and in some cases <span style="color:#f00">Display
                  Language</span> is set to Japan/Japanese. For more details, please refer to [&nbsp;<a rel="noopener"
                  href="https://www.dlsite.com/home/zendesk/auth/=/return_to/https%3A%2F%2Fcs.dlsite.com%2Fhc%2Fen-us%2Farticles%2F4401855931417"
                  target="_blank">How can I set Windows 10 to Japan/Japanese?</a>&nbsp;] on DLsite Help.</span>
            </div>
            <div class="trial_download mb30">
            </div>
            <ul class="work_edition">
            </ul>
          </div>
          <!-- /work_right-->
        </div>
        <!-- /work_header -->
        <!-- work_story -->
        <div class="title_01 clearfix">
          <h2>Product summary</h2>
        </div>
        <!-- spec -->
        <div class="title_01 clearfix">
          <h2>Product Information / System Requirements</h2>
        </div>
        <div class="work_article work_spec">
          <dl class="work_spec_list">
            <dt>File size</dt>
            <dd>
              総計&nbsp;1.37GB
            </dd>
            <dt>CPU</dt>
            <dd>Pentium4 1.3GHz以上 / Core 2 Duo 2GHz以上</dd>
            <dt>Memory</dt>
            <dd>1GB以上</dd>
            <dt>Video</dt>
            <dd>VRAM 512MB以上 （DirectX 9.0c以上に対応した3Dアクセラレータ）</dd>
            <dt>Required resolution</dt>
            <dd>800*600 フルカラー</dd>
            <dt>DirectX</dt>
            <dd>DirectX 9.0c以上</dd>
          </dl>
        </div>
        <!-- /spec -->
        <!-- maker_works -->
        <div class="work_series">
          <div class="title_01 clearfix">
            <h2>
              <span class="title">
                BrandProduct List </span>
            </h2>
            <p class="move"><span><a
                  href="https://www.dlsite.com/soft/fsr/=/keyword_maker_name/Falcom+VG01562/ana_flg/all/from/work.same_maker">See
                  more products</a></span>
            </p>
          </div>
          <div class="sub_title"><span class="ml10">Works available for sale</span></div>
          <div class="recommend_list portrait"
            data-href="https://www.dlsite.com/soft/load/recommend/detail/v2/=/type/maker_works/workno/VJ009175%2CVJ009176%2CVJ009177%2CVJ006862%2CVJ005208%2CVJ004592%2CVJ004621%2CVJ004796%2CVJ004461%2CVJ004510%2CVJ004048%2CVJ004049%2CVJ004050%2CVJ004044%2CVJ004046%2CVJ004047%2CVJ004040%2CVJ004041%2CVJ004045%2CVJ004036%2CVJ004037%2C"
            data-type="maker_works"></div>
        </div>
        <!-- maker_works -->
        <!-- relation -->
        <div class="title_01_br clearfix">
          <h2>Related products</h2>
        </div>
        <div class="recommend_list portrait"
          data-href="https://www.dlsite.com/soft/load/recommend/detail/v2/=/type/relations/workno/VJ004510%2CVJ006862%2CVJ009177%2C"
          data-type="relations">
        </div>
        <!-- /relation -->
        <!-- recommend -->
        <div class="title_01 clearfix" data-download-threshold="5">
          <h2>Users who bought this work also bought</h2>
        </div>
        <div class="recommend_list portrait" data-section-name="work_recommend_history"
          data-href="https://www.dlsite.com/soft/load/recommend/v2/=/type/viewsales2/reject/VG01562/product_id/VJ009178.html"
          data-type="viewsales2"></div>
        <!-- /recommend -->
        <div class="title_01 clearfix">
          <h2>Recently checked</h2>
        </div>
        <div class="recommend_list portrait" data-section-name="work_recommend_history"
          data-href="https://www.dlsite.com/soft/load/recommend/v2/=/type/history/product_id/VJ009178.html"
          data-type="history"></div>
        <!-- review -->
        <div class="title_01 clearfix" id="review_link">
          <h2>User Reviews</h2>
        </div>

        <div data-vue-component="review" id="work_review" class="work_article">

          <product-review-list product-id="VJ009178" is-simplified="true"></product-review-list>

        </div>


        <div data-vue-component="review">
          <review-modal v-show="$store.getters.onReviewModal" is-minhon="true"></review-modal>
        </div>

        <div class="_work_matome"></div>


        <div class="title_01 clearfix">
          <h2>Open Projects / Promotions</h2>
        </div>
        <div class="content_scroller" data-section-name="eisys-campaign" id="campaign_bcs">
          <div class="relation_content_container">
            <div id="content-swiper" class="swiper-container">
              <ul class="relation_content_list swiper-wrapper" style="display:none;">

              </ul>
            </div>
            <div class="carousel_arrow_left content-swiper-button-prev"></div>
            <div class="carousel_arrow_right content-swiper-button-next"></div>
          </div>
        </div>
      </div>
      <!-- /main_inner -->
    </div>
    <!-- /main -->
    <template data-vue-component="restriction-of-countries"></template>
    <template data-vue-component="notice"></template>
  </div>
  <!-- /wrapper -->
  <!-- right -->
  <div id="right" data-section_name="right">
    <div id="work_buy_box_wrapper" data-vue-component="product-price" data-product-id="VJ009178" data-is-check=""
      data-is-comingsoon="0" data-section_name="right_work_price">
      <div hidden class="ga4_event_item_VJ009178" data-product_id="VJ009178"
        data-work_name="The Legend of Heroes: Zero no Kiseki" data-maker_id="VG01562" data-work_type="RPG"
        data-options="MS2#REV#JPN" data-price="2750" data-official_price="2750"></div>

      <div v-else-if="typeof product.price === 'undefined'" class="work_buy_main">
        <!-- IE8 or noscript -->
        <div id="work_price">
          <div class="work_buy_type">
            <div class="work_buy_container">
              <div class="work_buy_body">
                <div class="work_buy_label">Price</div>
                <div class="work_buy_content"><span class="price">2,750<i>&nbsp;JPY</i></span></div>
              </div>
              <div class="work_buy_body">
                <div class="work_buy_label">Points</div>
                <div class="work_buy_content">
                  <strong class="work_point">
                    75<i>pt (3% Earn)</i>
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="work_buy_btn">
          <p class="work_cart _work_cart" id="_work_cart_VJ009178"><a
              href="https://www.dlsite.com/soft/cart/=/product_id/VJ009178.html" class="btn_cart _btn_cart"
              id="_btn_cart_VJ009178">Add to Cart</a></p>
          <p class="work_favorite _work_favorite" id="_work_favorite_VJ009178"><a
              href="https://www.dlsite.com/soft/mypage/wishlist/=/product_id/VJ009178.html"
              class="btn_favorite _btn_favorite" id="_btn_favorite_VJ009178">Favorites</a></p>
        </div>
      </div>
      <div id="work_device_guide">
        <p class="separate_title"><span>Compatible systems</span></p>
        <div class="work_device_table_wrap">
          <table class="work_device_table">
            <thead>
              <tr>
                <th class="dev"></th>
                <th class="dl"><span>Download</span></th>
                <th class="st"><span>Browser</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="label icon_pc">PC</td>
                <td v-if="user.os == 'Mac'" v-cloak><span class="dev_play"></span></td>
                <td v-else><span class="dev_play"></span></td>
                <td><span class="dev_play_no"></span></td>
              </tr>
              <tr>
                <td class="label icon_sp">Smartphone</td>
                <td>
                  <span class="dev_play_no"></span>
                </td>
                <td><span class="dev_play_no"></span></td>
              </tr>
            </tbody>
          </table>
        </div>

        <table class="current_os" v-if="user.os" v-cloak>
          <thead>
            <tr>
              <th><strong v-text="user.os == 'Mac' ? 'Mac' : 'Windows'"></strong> compatible version.</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td v-if="user.os == 'Mac'" v-cloak>-</td>
              <td v-else>
                Vista / 7 / 8 </td>
            </tr>
          </tbody>
        </table>
        <ul class="guide_list" v-cloak>
          <li><a class="_osPopup" href="#" @click.stop.prevent="toggleDisplayMachineList()">Display all compatible
              OS</a></li>
        </ul>

        <div class="os_popup" :class="{ active: is_display_machine_list }">
          <div class="os_popup_header">Supported OS</div>
          <div class="os_popup_body">
            <table>
              <tbody>
                <tr>
                  <td>Windows</td>
                  <td> Vista / 7 / 8 </td>
                </tr>
                <tr>
                  <td>Mac</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>iOS</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Android</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Miscellaneous</td>
                  <td>-</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /right -->
</body>
</html>